<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-coins"></i>
    </div>
    <div class="sidebar-brand-text mx-3">DriveWell Admin</div>
  </a>

  <hr class="sidebar-divider my-0" />

  <!-- Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/admin/dashboard">
      <i class="fas fa-tacUserster-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>

  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Interface</div>

  <!-- Users -->
<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers" aria-expanded="false" aria-controls="collapseUsers">
    <i class="fas fa-users"></i> <!-- fixed -->
    <span>Users</span>
  </a>
  <div id="collapseUsers" class="collapse" aria-labelledby="headingUsers" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Users List:</h6>
      <a class="collapse-item" href="/user/list">List</a>
    </div>
  </div>
</li>

<!-- Technicians -->
<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTechnicians" aria-expanded="false" aria-controls="collapseTechnicians">
    <i class="fas fa-user-cog"></i> <!-- fixed -->
    <span>Technicians</span>
  </a>
  <div id="collapseTechnicians" class="collapse" aria-labelledby="headingTechnicians" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Technicians List:</h6>
      <a class="collapse-item" href="/mechanics/list">List</a>
    </div>
  </div>
</li>

<!-- Booking -->
<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBooking" aria-expanded="false" aria-controls="collapseBooking">
    <i class="fas fa-calendar-check"></i> 
    <span>Booking</span>
  </a>
  <div id="collapseBooking" class="collapse" aria-labelledby="headingBooking" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Booking List:</h6>
      <a class="collapse-item" href="/booking/list">List</a>
    </div>
  </div>
</li>
</ul>